@page
@model Library.Pages.AdminContent.AdminMainModel
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="AdminMain">Обычные пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page-handler="SuperUsers">Супер пользователи</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <p>@TempData["error"]</p>
        <p><a class="btn btn-primary" asp-page="CreateAccount">Добавить аккаунт</a></p>
        <div class="row">
                @foreach (Account account in Model.Accounts)
                {
                    @Html.Partial("LookAccount", account)

                }
        </div>
    </main>
</div>
